* {
    box-sizing: border-box;
    background-color: rgb(36, 36, 36);
}

.container {
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 960px;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    width: 960px;
    justify-content: space-between;
    align-items: center;
}

.square {
    background-color: black;
}